@import "bower";

.navbar {
  margin: 0 0 30px;
}

.nav {
  float: right;
}

nav button {
  float: right;
}

#map-canvas {
  width: 100%;
  height: 100vh;
}

@media(max-width:34em) {
  nav {
    position: relative;
  }

  .nav {
    width: 100%;
  }
}
